<div class="div">
    {{#each double}}
    <div class="div">{{this.PLAYER}}</div>
    <div class="div">{{this.PTS}}</div>
    <div class="div">{{this.MIN}}</div>
    <div class="div">{{this.FGM}}</div>
    <div class="div">{{this.FGA}}</div>
    <div class="div">{{this.[FG%]}}</div>
    {{/each}}
</div>

<div class="div">
    {{#each triple}}
    <div class="div">{{this.PLAYER}}</div>
    <div class="div">{{this.PTS}}</div>
    <div class="div">{{this.MIN}}</div>
    <div class="div">{{this.FGM}}</div>
    <div class="div">{{this.FGA}}</div>
    <div class="div">{{this.[FG%]}}</div>
    {{/each}}
</div>

<div class="div">
    {{#each quadra}}
    <div class="div">{{this.PLAYER}}</div>
    <div class="div">{{this.PTS}}</div>
    <div class="div">{{this.MIN}}</div>
    <div class="div">{{this.FGM}}</div>
    <div class="div">{{this.FGA}}</div>
    <div class="div">{{this.[FG%]}}</div>
    {{/each}}
</div>

<div class="div">
    {{#each five}}
    <div class="div">{{this.PLAYER}}</div>
    <div class="div">{{this.PTS}}</div>
    <div class="div">{{this.MIN}}</div>
    <div class="div">{{this.FGM}}</div>
    <div class="div">{{this.FGA}}</div>
    <div class="div">{{this.[FG%]}}</div>
    {{/each}}
</div>