<div class="container mt-5" id="data-panel">
    {{#each games}}
    <div class="row">
        <div class="col-sm-3">
          {{this.homeTeam.teamName}}
        </div>
        <div class="col-sm-3">
             {{this.awayTeam.teamName}}
        </div>
        <div class="col-sm-3">
            {{this.gameStatusText}} 比數   {{this.homeTeam.score}} : {{this.awayTeam.score}}
        </div>
    </div>
    {{/each}}
</div>
