<div class="container" style="min-width: 1800px;">
    <div class="row"> 
        {{#each items}}
            <div class="statisBox">
                <div class="category">
                    {{#ifCond this.title "Points"}}
                        自幹前五
                    {{/ifCond}}
                    {{#ifCond this.title "Rebounds"}}
                        籃板前五
                    {{/ifCond}}
                    {{#ifCond this.title "Assists"}}
                        最無私前五
                    {{/ifCond}}
                    {{#ifCond this.title "Blocks"}}
                        火鍋前五
                    {{/ifCond}}
                    {{#ifCond this.title "Steals"}}
                        抄截前五
                    {{/ifCond}}
                    {{#ifCond this.title "Turnovers"}}
                        失誤前五
                    {{/ifCond}}
                    {{#ifCond this.title "Three Pointers Made"}}
                        三分命中前五
                    {{/ifCond}}
                    {{#ifCond this.title "Free Throws Made"}}
                        買飯前五
                    {{/ifCond}}
                    {{#ifCond this.title "Fantasy Points"}}
                        范特西前五
                    {{/ifCond}}
                </div>
                <ol>
                    {{#each playerstats}}
                        <li>
                            {{this.PLAYER_NAME}}
                            {{this.TEAM_ABBREVIATION}}
                            {{#ifCond ../this.title "Points"}}
                            {{this.PTS}}
                            {{/ifCond}}
                            {{#ifCond ../this.title "Rebounds"}}
                            {{this.REB}}
                            {{/ifCond}}
                            {{#ifCond ../this.title "Assists"}}
                            {{this.AST}}
                            {{/ifCond}}
                            {{#ifCond ../this.title "Blocks"}}
                            {{this.BLK}}
                            {{/ifCond}}
                            {{#ifCond ../this.title "Steals"}}
                            {{this.STL}}
                            {{/ifCond}}
                            {{#ifCond ../this.title "Turnovers"}}
                            {{this.TOV}}
                            {{/ifCond}}
                            {{#ifCond ../this.title "Three Pointers Made"}}
                            {{this.FG3M}}
                            {{/ifCond}}
                            {{#ifCond ../this.title "Free Throws Made"}}
                            {{this.FTM}}
                            {{/ifCond}}
                            {{#ifCond ../this.title "Fantasy Points"}}
                            {{this.NBA_FANTASY_PTS}}
                            {{/ifCond}}
                        </li>
                    {{/each}}
                </ol>
            </div>
        {{/each}}
    </div>
</div>