<div class="container">
    <div class="row">
        {{#each items}}
            <div class="statisBox">
                <div class="category">{{this.title}}</div>
                <ul>
                    {{#each playerstats}}
                        <li>
                            {{this.PLAYER_NAME}}
                            {{this.TEAM_ABBREVIATION}}
                            {{#ifCond ../this.title "Points"}}
                            {{this.PTS}}
                            {{/ifCond}}
                            {{#ifCond ../this.title "Rebounds"}}
                            {{this.REB}}
                            {{/ifCond}}
                            {{#ifCond ../this.title "Assists"}}
                            {{this.AST}}
                            {{/ifCond}}
                            {{#ifCond ../this.title "Blocks"}}
                            {{this.BLK}}
                            {{/ifCond}}
                            {{#ifCond ../this.title "Steals"}}
                            {{this.STL}}
                            {{/ifCond}}
                            {{#ifCond ../this.title "Turnovers"}}
                            {{this.TOV}}
                            {{/ifCond}}
                            {{#ifCond ../this.title "Three Pointers Made"}}
                            {{this.FG3M}}
                            {{/ifCond}}
                            {{#ifCond ../this.title "Free Throws Made"}}
                            {{this.FTM}}
                            {{/ifCond}}
                            {{#ifCond ../this.title "Fantasy Points"}}
                            {{this.NBA_FANTASY_PTS}}
                            {{/ifCond}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/each}}
    </div>
</div>